# --- Auth Database ---
AUTH_DB_NAME=auth_db
AUTH_DB_USER=postgres
AUTH_DB_PASS=postgres
AUTH_DB_PORT=5451

# --- Product Database ---
PRODUCT_DB_NAME=product_db
PRODUCT_DB_USER=postgres
PRODUCT_DB_PASSWORD=postgres
PRODUCT_DB_PORT=5452

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379

# Auth Service
AUTH_SERVICE_PORT=8081
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250655368566D5971
EXPIRATION_TIME=86400000
GOOGLE_CLIENT_ID=your_google_client_id

# Pass recovery & Mail
SERVICE_HOST=http://localhost:8080
PASS_RECOVERY_PATH=/auth/reset-password
MAILING_USER=smtp_login
MAILING_PASSWORD=smtp_password
MAILING_SENDER=no-reply@example.com

# Gateway Service
API_GATEWAY_PORT=8080
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:63342

# Internal Service URLs
AUTH_SERVICE_URL=http://auth-service:8081
PRODUCT_SERVICE_URL=http://product-service:8082
ORDER_SERVICE_URL=http://order-service:8083

# --- Product Service ---
PRODUCT_SERVICE_PORT=8082
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key

